<!-- { -->
<!-- "id": 1, -->
<!-- "title": "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops", -->
<!-- "price": 109.95, -->
<!-- "description": "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday", -->
<!-- "category": "men's clothing", -->
<!-- "image": "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg", -->
<!-- "rating": { -->
<!-- "rate": 3.9, -->
<!-- "count": 120 -->
<!-- } -->
<!-- } -->
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="card my-4" *ngFor="let item of ProductsArray">
      <div class="card-header ">
        <h3>title:{{ item.title }}</h3>
      </div>
      <div class="card-body ">
        <strong>category:{{ item.category }}</strong>

        <p><strong>Description:</strong>{{ item.description }}</p>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-primary" [routerLink]="[item.id]">Show More</button>
      </div>
    </div>
  </div>
</div>
